.hero-container {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container-other {
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage {
  background: url("/src/static/images/img-home.jpg") center center/cover
    no-repeat;
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 50px;
  margin-top: -100px;
  /* text-shadow: 0px 10px 10px #000, 0px 10px 10px #000; */
}

.hero-container > h6 {
  color: #fff;
  font-size: 40px;
  /* text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), 0px 0px 10px rgba(0, 0, 0, 0.25); */
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-container > h1, h6{
  text-shadow: 0px 5px 5px #242424, 0px 0px 5px #242424;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.textarea__question {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #E5E5E5;
  font-size: 20px;
  resize: none;
  margin-bottom: 20px;
}

.input__choice {
  height: 30px;
  width: 30%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #E5E5E5;
  font-size: 16px;
  resize: none;
  margin-bottom: 20px;
}

.input__topic {
  height: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .hero-container {
    height: 70vh;
  }

  .hero-container > h1 {
    font-size: 45px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 40px;
    margin-top: -100px;
  }

  .hero-container > h1 {
    font-size: 32px;
  }

  .hero-container > p {
    margin-top: 8px;
    font-size: 26px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
